#viewerContainer > #viewer > .page > .canvasWrapper > canvas {
    filter: grayscale(100%);
    filter: invert(100%);
}

#viewerContainer > #viewer > div.spread > .page > .canvasWrapper > canvas {
    filter: grayscale(100%);
    filter: invert(100%);
}
